<article class="post hentry">
	<header class="entry-header">
		<h1 class="entry-title">Vågtämjaren</h1>
		<h2 class="entry-subtitle">Under sju veckor paddlade Julie Jacobson över tusen kilometer längs Norges kust. Som enda sällskap hade on sälar, lunnefåglar - och Nutella …</h2>
		<p class="entry-meta">
			<strong>Text</strong> Jannie Aquilonius 	&nbsp;
			<strong>Foto</strong> Julie Jacobson & Karin Åmossa
		</p>
	</header>
	<main class="entry-content">
		<p><em>Hon hade trott</em> att ensamheten skulle vara jobbigast. Men Julie Jacboson känner sig inte ensam i sin kajak ute på havet.I stället är det vädret som överraskar och blir den största utmaningen, trots att hon noga kollar prognoserna och förhör sig om läget med lokalbefolkningen. Hon paddlar på nätterna efter det är lugnare då. En natt söder om Tromsö ligger havet spegelblankt. Julie är på sitt tokiga humör där hon bara skrattar och fotograferar för allt är så vackert. Så plötsligt drar starka vindar och vågor in, som från ingenstans. <br>
&emsp;— Jag hamnar lite i chock och kände "Wow, var kom det ifrån?" Jag kämpade för att ta mig till ett säkert område och pratade stundvid med mig själv, sa att "You got this!", säger Julie som kommer från North Caroline i USA och har norska förfäder.<br>
&emsp;Julie gjorde kajakturen som en del av utbildningen Tierra Adventure Academy, där deltagarna under 2015 fick planera och genomföra ett eget äventyr.<br>
&emsp;Resan startar i Trondheim och hon paddlar de tre första veckorna tillsammans med sin pojkvän. Sedan fortsätter hon fyra veckor till på egen hand. Julie lär sig snart att handskas med tidvattenströmmar och bedöma vilka väderförhållanden hon klarar av. Hon inser att panik inte hjälper, det är bättre att fokusera på att lära sig hantera havet. Hon fascineras av färgglada moln när solen går ner och njuter av djurlivet med tumlare, sälar och favoritdjuret lunnefåglar.</p>
<p><strong>Det sägs att du levde på Nutella och bacon, var det så?</strong><br>
			— Jag åt väldigt mycket Nuetalla och bacon, men inte bara. Jag fiskade mycket, men blev lite trött på det och då åt jag mer korv och bacon. Jag blev nog gladast av bacon och choklad. Det är lyxigt med kajaken, du behöver inte tänka så mycket på vikt.</p>
		<p><strong>Äventyret var även att sätt att fira fem år i Skandinavien, hur firade du?</strong><br>
			— Min plan var att drick champagne och äta tårta, men jag var trött efter paddling och klättring så det blev fisksoppa och Nutella istället. Men det var en fin dag med en vacker solnedgång. Vädret hjälpte mig att fira.
			</p>
		<p><strong>Skulle du göra om ditt äventyr?</strong><br>
			— Ja, absolut. När jag kom fram till målet, Tromsö, ville jag bara fortsätta. Jag trodde att jag aldrig skulle vilja padla igen efter det här, men det blev tvärtom och nu vill jag göra en ännu längre resa.</p>
	</main>
	<footer>
		<p>Fonts used are Playfair Display, PT Serif and Roboto Condensed.</p>
		<p>The article was published in 365 by Naturkompaniet and they hold the copyrights.</p>
	</footer>
</article>
