<html>
  <head>
    <title>J-Finder</title>
    <h1>J-Finder</h1>
  </head>
  <body>
    <div class="main">
      <ul class="cards">
    <% @jobs_array.each do |entry| %>
    <li class="cards_item">
      <div class="card">
        <div class="card_content">

      <h2 class="card_title">
        <%= entry.position %>
      </h2>
      <p><%= entry.company %></p>
      <p><%= entry.date %></p>
      <p class="card_text">
        <%= entry.description %>
      </p>
        <button class="btn">Read More</button>
      </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

  </body>
</html>
