<html>
  <head>
    <ul class="nav-bar">
      <h1 class="nav-item">J-Finder</h1>
      <li class="nav-item"><a href="default.asp">Home</a></li>
      <li class="nav-item"><a href="news.asp">News</a></li>
      <li class="nav-item"><a href="contact.asp">Contact</a></li>
      <li class="nav-item"><a href="about.asp">About</a></li>
    </ul>
    <title>J-Finder</title>
  </head>
  <body>
    <div class="main">
      <ul class="cards">
    <% @jobs_array.each do |entry| %>
    <li class="cards_item">
      <div class="card">
        <div class="card_content">

      <h2 class="card_title">
        <%= entry.position %>
      </h2>
      <p><%= entry.company %></p>
      <p><%= entry.date %></p>
      <p class="card_text">
        <%= entry.description %>
      </p>
        <button class="btn">Read More</button>
      </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

  </body>
</html>
